
/*UNIVERSAL*/

.relative-wrapper {
  position: relative;
}
.wrapper {
  position: relative;
}
.dm-container {
  display: table;
  /*padding-left: .5em;
  padding-right: .5em;*/
  margin: auto;
  /*pls dont let this screw smth up; changed from 95. can it NOT be 100 for some reason?? is it the padding*/
  max-width: 100%;
  min-width: 100%;
}

.clear {
  clear: both;
}
.clear2{
  overflow: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

.shift-zero{
margin-top:0;
}
.shift-up{
margin-top:-15px;
}
.shift-up2{
margin-top:-30px;
}
.shift-up3{
margin-top:-45px;
}
.shift-down{
margin-bottom:-15px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-top-bottom-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-left-50 {
  padding-left: 50px;
}
.margin-bottom-5{
  margin-bottom:5px;
}
.padding-bottom-5{
  padding-bottom:5px;
}
.padding-left-5{
  padding-left:5px;
}
.padding-bottom-15{
  padding-bottom:15px;
}
.padding-right-5{
  padding-right:5px;
}


.text-color-red {
  color: red;
}
.text-color-blue {
  color: blue;
}
.text-color-orange{
  color: orange;
}
.text-color-gray {
  color: #9F9FA1;
}
.text-color-blue{
  color: blue;
  text-decoration: none;
}
.text-color-red {
  color: red;
  text-decoration: none;
}
.text-color-gray{
  color: #b1b1b3;
}
.text-color-lgray {
  color: #b1b1b3;
}

.text-size-8{
  font-size:0.8em;
}
.text-size-12{
  font-size:1.2em;
}
.text-bold{
  font-weight:bold;
}

.square-element{
  height: 35px;
  width: 35px;
}
.middle-box {
  background: #fff;
  padding: 0 10px;
}
.left-arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}



.floatdot{
  margin-left:-20px;
}
.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #bbb;
  margin-bottom: -15px;
}
.dotbox {
  width: 40px;
}

.thread-buffer{
  margin-top:8px;
  margin-left:10px;
  padding-bottom:10px;
}
.stay-block {
overflow: auto;
display: block;
}
.stay{
width:100%;
}


/*fade*/
.fadeout {
  position: relative;
}
.fadeout::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
}
.fadein {
  position: relative;
}
.fadein::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, white, rgba(255,255,255, 0));
}

.text-color-gray {
  color: #9F9FA1;
}
.text-size-12{
  font-size:1.2em;
}
.text-bold{
  font-weight:bold;
}

/*reddit*/
/*
i do not, i repeat do NOT remember making vr0-2. i mean, i remember thinking "i should fix that weird issue where sometimes things collapse instead of float", i remember sitting down, i remember thinking "what if tables" but i DO NOT remember what it does or how it works. idk if half of that even needs to be there and honestly at this point i dont care. i also remeber thinking "GOTTA NEST THOSE DIVS" which we... appparently did not do. so that's. that's cool.

the last thing we might wanna do here is use the fadeout function and place the 'view all comments' button over top of it. rn im tired tho. messing w relative/ablosute is one of my least favorite things.
*/
.rd-font{
  font-family:verdana, arial, helvetica, sans-serif;
  background-color: white;
}
.rd-view-box {
  background: #0079D3;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight:bold;
  padding: 7px;
  margin: 0 5px -5px 5px;
}
.rd-signup-box {
  background: #0079D3;
  border-radius: 14px;
  text-align: center;
  color: white;
  padding: 7px 5px 7px 5px;
  margin: 0px 5px -5px 5px;
  font-size:0.8em;
}
.rd-sortby{
  font-size:0.8em;
  padding-left:5px;
}
.rd-photo-box {
  background: #d3dce0;
  border-radius: 18px;
  color: black;
  padding: 2px 10px 2px 10px;
}
.rd-name{
  text-align: center;
  font-weight:bold;
  font-size:1.2em;
}
.rd-header{
  font-weight:bold;
  font-size:1.1em;
  margin:-5px 0 -5px 0;
}
.rd-dot { /*idx if i wanna go down this path*/
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #bbb;
  margin-bottom: -15px;
}
.rd-div1{
  border-bottom: 8px solid #EEEFF1;
  padding-bottom:18px;
  padding-left:8px;
  margin: 0 -5px 10px -5px;
}
.rd-div2{
  border-bottom: 1.5px solid #EEEFF1;
  margin-right:-5px;
  margin-left:-5px;
}
.rd-vote{
  height:1.8em;
}
.rd-poster{
  font-size: .8em;
  margin-bottom: 15px;
}
.rd-op{
  color:#25A0ED;
  font-weight:bold;
}
.rd-link{
  color:#25A0ED;
}
.rd-down-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0px 0 2px 7px;
}
.rd-small{
  font-size: .8em;
  display: inline-block;
  padding-bottom:5px;
}
.rd-vr0 {
  display: table;
  padding: 10px 0 0px 30px;
  border-bottom: 1px solid #EEEFF1;
}
.rd-vr1 {
  display: table;
  padding: 0px 0px 0px 10px;
  margin: 0px 0 5px 5px;
  border-left: 1px solid #EEEFF1;
}
.rd-vr2 {
  display: table;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 5px 5px;
  border-left: 1px solid #EEEFF1;
}
.rd-vr-not {
  display: table;
  padding: 0px 0px 0px 0px;
  margin: 0px 0 5px 0;
}
.rd-gray-text {
  color: #657685;
}
.rd-bubble{
  color: #787C7F;
  font-size: .8em;
  padding: 12px 5px 3px 5px;
  margin-bottom:5px;
  border-radius: 16px;
  border: 1px solid #EEEFF1;
}

.rd-arrow-text{
  padding-top:2px;
  mmargin-bottom:10px;
  vertical-align:top;
  display: inline-block;
}
.rd-arrow-up{
  padding-top:0px;
  padding-bottom:0px;
  height:1.5em;
}
.rd-arrow-down{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
    height:1.5em;
}
.rd-elispes{
  float:right;
  padding-right:10px;
  font-size:1.0em;
}


/*sms*/
.sms-box-left {
  border-width: 1px;
  color: black;
  background: #f2f3f5;
  border-radius: 18px;
  padding: 10px 15px 8px 15px;
  max-width: 75%;
  float: left;
  margin-top: 10px;
  clear: both;
  position: relative;
}
.sms-box-right {
  border-width: 1px;
  color: #174ea3;
  background: #d2e4fb;
  border-radius: 18px;
  padding: 10px 15px 8px 15px;
  max-width: 75%;
  float: right;
  margin-top: 10px;
  clear: both;
  position: relative;
}
.sms-time {
  text-align: center;
  color: #5f6267;
  clear: both;
}
.sms-border {
  box-shadow: 0px 8px 10px -10px #888888;
  padding-bottom: 10px;
}
.sms-name-header {
  font-size: 1.2em;
  font-weight: bold;
  padding-left:10px;
  color: #424242;
}


/*line*/
/*
todo:
- well, the placement of the timestamp STILL bothers me but im still to dumb to fix it and i
cried enough over it already so i'll probably just. ignore it forever?
- could try tables again if it bugs you too much.
*/
.line-date{
  font-size: 0.8em;
  background: #BFBDC1;
  border-radius: 10px;
  color: white;
  padding: 5px 13px;
  clear: both;
  text-align: center;
}
.line-name-header{
  font-size: 1.2em;
  font-weight: bold;
  padding-left:10px;
  color: black;
}
.line-border {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.line-box-left-time {
  float: left;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  clear: both;
  position: relative;
}
.line-box-left1 {
  border-color: #d3dce0;
  border-style: solid;
  border-width: 1px;
  background: #d3dce0;
  color: black;
  float: left;
  margin-bottom: 10px;
  border-radius: 1em;
  padding: 0.5em 1em;
  max-width: 75%;
  clear: both;
  position: relative;
}
.line-box-left1::after {
  content: "";
  position: absolute;
  left: -.6em;
  top: -12px;
  width: 1em;
  height: 1em;
  border-color: #d3dce0;
  border-width: 1px;
  border-bottom: .5em solid #d3dce0;
  border-bottom-left-radius: .8em .8em;
}
.line-box-left {
  border-color: #d3dce0;
  border-style: solid;
  border-width: 1px;
  background: #d3dce0;
  color: black;
  float: left;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  max-width: 75%;
  clear: both;
  position: relative;
}
.line-box-left::after {
  content: "";
  position: absolute;
  left: -.6em;
  top: -12px;
  width: 1em;
  height: 1em;
  border-color: #d3dce0;
  border-width: 1px;
  border-bottom: .5em solid #d3dce0;
  border-bottom-left-radius: .8em .8em;
}
.line-box-right {
  float: right;
  color: black;
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #B1ED8B;
  max-width: 75%;
  clear: both;
  position: relative;
}
.line-box-right::after {
  content: "";
  position: absolute;
  right: -0.5em;
  top: -2px;
  width: 1em;
  height: .5em;
  border-bottom: .5em solid #B1ED8B;
  border-bottom-right-radius: 1em .8em;
}
.line-box-right1 {
  float: right;
  color: black;
  margin-bottom: 10px;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #B1ED8B;
  max-width: 75%;
  clear: both;
  position: relative;
}
.line-box-right1::after {
  content: "";
  position: absolute;
  right: -0.5em;
  top: -2px;
  width: 1em;
  height: .5em;
  border-bottom: .5em solid #B1ED8B;
  border-bottom-right-radius: 1em .8em;
}
.line-time-right {
  float: right;
  text-align: right;
  position: relative;
  bottom: 0;
  color: #9F9FA1;
  font-size: 0.6em;
  padding: 5px;
}
.line-time-left {
  float: left;
  position: relative;
  color: #9F9FA1;
  font-size: 0.6em;
  padding: 5px;
}
.line-name-box {
  float: left;
  position: relative;
  color: black;
  font-size: .8em;
  padding: 2px;
  margin: .3em 0em -.2em;
  clear: both;
}




/*signal*/
/*
todo:
- make a shadowbox?
- legit tho, shadow-box could fix the last of your problems.
*/
.signal-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #bbb;
  margin-bottom: -15px;
  float:left;
}
.signal-name{
  font-size:1em;
  margin-top:5px;
  float:left;
}
.signal-name-line{
  padding-bottom:40px;
  box-shadow: 0px 8px 8px -10px #888888;
}
.signal-name-line2{
  border-bottom: 5px solid transparent;
  margin-bottom:20px;
  border-image: linear-gradient(to bottom, red 50%, #F6F6F6 50%);
  border-image-slice: 1;

  width:100%;
  height:2px;
  background:linear-gradient(to bottom, gray 50%,rgba(246,246,246,.3) 50%);
}
.signal-arrow {
  float:left;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 30px;
  width: 30px;
  margin:0 10px 0 10px;/*lmao this does nothing, its in a span bro*/
}
.signal-box-left1 {
  margin-top: 10px;
  background: #2c6bee;
  border-width: 1px;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-bottom-left-radius: 0;
  margin-bottom: 3px;
  color: white;
  float: left;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-left2 {
  background: #2c6bee;
  border-width: 1px;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 3px;
  color: white;
  float: left;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-left3 {
  background: #2c6bee;
  border-width: 1px;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-top-left-radius: 0;
  margin-bottom: 10px;
  color: white;
  float: left;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-left0 {
  background: #2c6bee;
  border-width: 1px;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  margin-top: 10px;
  color: white;
  float: left;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-right1 {
  margin-top: 10px;
  border-width: 1px;
  color: black;
  background: #e9e9e9;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-bottom-right-radius: 0;
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-right2 {
  border-width: 1px;
  color: black;
  background: #e9e9e9;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-right3 {
  border-width: 1px;
  color: black;
  background: #e9e9e9;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border-top-right-radius: 0;
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-box-right0 {
  margin-top: 10px;
  border-width: 1px;
  color: black;
  background: #e9e9e9;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-time-right {
  float: right;
  font-size: .7em;
  position: relative;
  color: #979797;
  padding: 5px 0 0 0;
  clear: both;
}
.signal-time-left {
  float: left;
  font-size: .7em;
  position: relative;
  color: #8eb4fd;
  padding: 5px 0 0 0;
  clear: both;
}
.signal-img-left {
  background: #2c6bee;
  border-radius: 15px;
  border:2px solid #F6F6F6;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
  float: left;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-img-right {
  margin-top: 10px;
  border:2px solid #F6F6F6;
  border-radius: 15px;
  border-bottom-right-radius: 5px;
  margin-bottom: 3px;
  float: right;
  max-width: 75%;
  clear: both;
  position: relative;
}
.signal-date {
  padding: 30px 0 5px 0;
  color: gray;
  font-size:.9em;
  bbackground: white;
  text-align:center;
  clear: both;
  position: relative;
}



/*youtube*/
/*
todo:
- why is ao3 adding a drop-box
*/
.yt-font{
font-family: 'Roboto', sans-serif;
}
.yt-red-line-50 {
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to right, red 50%,rgba(246,246,246,.3) 50%);
  bottom:5.5px;
}
.yt-red-line-30 {
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to right, red 30%,rgba(246,246,246,.3) 30%);
  bottom:5.5px;
}
.yt-red-line-70 {
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to right, red 70%,rgba(246,246,246,.3) 70%);
  bottom:5.5px;
}
.yt-border-bottom-gray  {
  border-bottom: 1px solid #b1b1b3;
}
.yt-comment{
  border-bottom: 1px solid #b1b1b3;
  margin-top:-10px;
  padding-bottom:10px;
  overflow: auto;
}
.yt-add-comment {
  margin-top:-8px;
  overflow: auto;
  display: block;
  padding-bottom:5px;

}
.yt-border-top-bottom-gray {
  border-bottom: 1px solid #b1b1b3;
  border-top: 1px solid #b1b1b3;
  padding: 5px;
}
.yt-border-top-gray {
  border-top: 1px solid #b1b1b3;
  padding: 5px;
}
.yt-link {
  color: blue;
  text-decoration: none;
}
.yt-down-arrow {
  margin-top: 10px;
  margin-right: 5px;
  border: 6px solid transparent;
  border-bottom-color: #000;
  display: inline-block;
  transform: rotate(-180deg);
  -webkit-transform: rotate(180deg);
  }
.yt-up-arrow {
  margin-bottom: 10px;
  margin-right: 5px;
  border: 6px solid transparent;
  border-bottom-color: #000;
  display: inline-block;
}
.yt-stats{
  width: 18%;
  text-align:center;
  display: inline-block;
  padding-left:10px;
  font-size:.8em;
}
.yt-bg-gray{
 background-color: #bbb;
}
.yt-floatdot{
  float:left;
  margin-left:8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  background-color: #bbb;
  margin-bottom: -15px;
}
.yt-sub-button{
  float:right;
  font-size:0.8em;
  color: red;
  padding-right:5px;
  margin-top: 10px;
}

.yt-vid-img{
  width:100%;
  /*padding-bottom: 56.25%; /*test this*/
}




/*twitter*/
/*
todo:
 - keep an eye on that vertical line
*/
.tw-text-gray{
  color: #657685;
}
.tw-text-blue{
  color: #1c94dc;
  text-decoration: none;
}

.tw-text-blue:visited {
  color: #1c94dc;
  text-decoration: none;
}
.tw-text-blue:active {
  color: #1c94dc;
  text-decoration: none;
}

.tw-border-top-bottom {
  border-bottom: 1px solid #b1b1b3;
  border-top: 1px solid #b1b1b3;
}
.tw-border-bottom {
  border-bottom: 1px solid #b1b1b3;
}
.twt-share {
  background-image: url("https://i.imgur.com/iwGvFJY.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -24px;
  margin-bottom: -10px;
}
.tw-img{
  float: center;
  margin: 10px 0px 10px 10px;
  max-width: 95%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.tw-line-vertical {
  margin-left: 22px;
  border-left: 2px solid transparent;
  border-image: linear-gradient(to bottom, lightgray 80%, rgba(255,255,255, 0) 20%);
  border-image-slice: 1;
}



/*discord*/
/*
todo:
* we finally centered the header text, but at what cost
* consider going mad and replacing the hamberger w compound images
*/
.dc-font{
  font-family: 'Uni sans', 'Whitney', sans-serif;
  line-height: 160%;
}
.dc-middle-line-red {
  text-align: center;
  border-bottom: 1px solid red;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color:red;
}
.dc-middle-line-gray {
  text-align: center;
  border-bottom: 1px solid #8A8E93;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color:#737F8C;
  font-size:.9em;
}
.dc-time-stamp {
  font-size:0.8em;
  color: #757F8B;
}
.dc-border-top {
  /*border-top: 1px solid black;*/

}
.dc-border-bottom {
  /*border-bottom: 1px solid black;*/
  padding-bottom:5px;
}
.dc-reply-square{
  border-left: 3px solid #76808C;
  border-top: 3px solid #76808C;
  border-top-left-radius: 8px;
  margin: 2px 5px 0px 5px;
  height: 25px;
  width: 20px;
  display: inline-block;
  float: left;
}
.dc-reply-square-short{
  border-left: 3px solid #76808C;
  border-top: 3px solid #76808C;
  border-top-left-radius: 8px;
  margin: 2px 5px 0px 5px;
  height: 15px;
  width: 20px;
  display: inline-block;
  float: left;
}
.dc-reply-text{
  margin-top: -2px;
  margin-left: 5px;
  font-size: .8em;
  color: #797D80;
  display:block;
  overflow: auto;
  display: block;
}
.dc-reply-wrapper {
  margin-top:-10px;
  margin-bottom:-15px;
}
.dc-hamberger { /*yes im aware this is mispelled, its too late now*/
  height: 35px;
  width: 50px;
  padding-top:10px;
  margin-bottom:-11px;
}
.dc-header-buffer{
  margin-top:10px;
  margin-left:10px;

  overflow: auto;
}
.dc-header{
  font-size:35px;
  font-weight:bold;
  mmargin-top:10px;
  margin-left:0px;
  ppadding-bottom:-10px;
  ppadding-bottom:0;
  mmargin-bottom:-15px;

  overflow: auto;
}
.dc-emotebox {
  border-radius: 4px;
  background: #F6F6F6;
  color: #C2C5C9;
  border:1.5px solid #F6F6F6;
  padding: 2px;
  padding: 2px 5px 2px 3px;
}
.dc-myemotebox {
  border-radius: 6px;
  border:1.5px solid #5865F2;
  background: #E7E9FD;
  color: #5865F2;
  padding: 2px 5px 2px 3px;
}
.dc-img-box {
  border-color: #f2f4f4;
  color: #595959;
  background: #F6F6F6;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 3px 3px 10px 3px;
  margin-top:-10px;
}
.dc-green-line-50 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 50%, #F6F6F6 50%);
  border-image-slice: 1;
}
.dc-green-line-20 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 20%, #F6F6F6 70%);
  border-image-slice: 1;
}
.dc-green-line-85 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 85%, #F6F6F6 15%);
  border-image-slice: 1;
}
.dc-name-red{
  color:red;
  font-weight:bold;
}
.dc-name-orange{
  color:orange;
  font-weight:bold;
}
.dc-name-blue{
  color:blue;
  font-weight:bold;
}
.dc-name-lblue{
  color:#add8e6;
  font-weight:bold;
}
.dc-name-pink{
  color:pink;
  font-weight:bold;
}
.dc-name-lpink{
  color:#FEC9CD;
  font-weight:bold;
}
.dc-name-purple{
  color:purple;
  font-weight:bold;
}
.dc-name-green{
  color:green;
  font-weight:bold;
}
.dc-name-forest{
  color:#228b22;
  font-weight:bold;
}
.dc-name-default{
  color:#060607;
  font-weight:bold;
}

.dc-just-emote{ /*dont forget to shift the below element up*/
  font-size:2.5em;
  margin-top:-5px;
  margin-bottom:0px;
}
.dc-welcome{
  font-size:2em;
  font-weight:bold;
  margin-bottom:-15px;
}
.dc-link {
  border-radius: 1px;
  color: #5865EF;
  background: #E7EAFD;
}



/*phone screen/notifications/time*/
.phone-div {
  border-top: 1px solid #b1b1b3;
}
.phone-short-line {
  border-bottom: 6px solid #bbb;
  border-radius: 5px;
  padding-bottom: 10px;
  max-width: 35%;
  text-align: center;
}
 .phone-date {
  font-size: 1.2em;
}

.phone-time {
  font-size: 4em;
}
.phone-notif-top{
  border-color: #d3dce0;
  border-style: solid;
  margin: 0;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #9F9FA1;
}

.phone-notif-bottom {
  border-color: #d3dce0;
  border-style: solid;
  margin-bottom: 25px;
  margin-top: 0;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.phone-caller{
  font-size:1.4em;
}
.phone-incoming{
    font-size:1.2em;
    color: #9F9FA1;
}


/*news*/
.news-header {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #b1b1b3;
  padding-bottom:5px;
}
.news-title {
  font-size: 1.2em;
  font-weight: bold;
}
.news-date {
  color: #9F9FA1;
}
.news-border {
  border-bottom: 1px solid #b1b1b3;
}
.news-read-more-button {
  position: absolute;
  bottom: 0;
  background: gray;
  border-radius: 6px;
  color: white;
  padding: 5px;
  margin: auto;
  text-align: center;
  left: 50%;
  margin-left: -50px;
}


/*blog*/
.blog-header {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  margin-bottom: -10px;
}
.blog-date {
  font-size: .9em;
  color: gray;
}
.blog-more {
  text-decoration:underline;
}
.blog-block{
text-align: justify;
}



/*article*/
.art-author{
  font-family:verdana;
  font-size:.8em;
  margin-top:10px;

}
.art-line{
  border: 2px solid black;
  width:80%;
}
.art-font{
  font-family: 'Roboto', sans-serif;
}
.art-title1{
  font-weight: bold;
  font-size:2em;
}
.art-title2{
  color:gray;
  font-size:1.8em;
}
.art-red{
  font-size:.7em;
  font-family:verdana;
  color: red;
  margin: -40px 0 -10px 0;
}

.art-header{
  font-size:4em;
  font-weight:bold;
  font-family:serat;
}
.art-read-more {
  position: absolute;
  bottom: 0;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  color: #3399cc;
  padding: 5px 20px 5px 20px;
  margin: auto;
  text-align: center;
  left: 45%;
  margin-left: -50px;
}
.art-content{
  text-align: justify;
}
