
/*discord*/
/*
todo: 
* we finally centered the header text, but at what cost 
* consider going mad and replacing the hamberger w compound images
*/
.dc-font{
  font-family: 'Uni sans', 'Whitney', sans-serif;
  line-height: 160%;
}
.dc-middle-line-red {
  text-align: center;
  border-bottom: 1px solid red;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.dc-time-stamp {
  font-size:0.8em;
  color: #757F8B;
}
.dc-border-top {
  border-top: 1px solid black;
  
}
.dc-border-bottom {
  border-bottom: 1px solid black;
  padding-bottom:5px;
}
.dc-reply-square{
  border-left: 3px solid #76808C;
  border-top: 3px solid #76808C;
  border-top-left-radius: 8px;
  margin: 2px 5px 0px 5px;
  height: 25px;
  width: 20px;
  display: inline-block;
  float: left;
}
.dc-reply-text{
  margin-top: -2px;
  margin-left: 5px;
  font-size: .8em;
  color: #797D80;
  display:block;
  overflow: auto;
  display: block;
}
.dc-reply-wrapper {
  margin-top:-10px;
  margin-bottom:-15px;
}
.dc-hamberger { /*yes im aware this is mispelled, its too late now*/
  height: 35px;
  width: 35px;
  padding-top:10px;
  margin-bottom:-11px;
}
.dc-header-buffer{
  margin-top:10px;
  margin-left:10px;

  overflow: auto;
}
.dc-header{
  font-size:1.2em;
  font-weight:bold;
  mmargin-top:10px;
  margin-left:10px;
  ppadding-bottom:-10px;
  ppadding-bottom:0;
  mmargin-bottom:-15px;

  overflow: auto;
}
.dc-emotebox {
  border-radius: 4px;
  background: #F6F6F6;
  color: #C2C5C9;
  border:1.5px solid #F6F6F6;
  padding: 2px;
  padding: 2px 3px 2px 3px; 
}
.dc-myemotebox {
  border-radius: 6px;
  border:1.5px solid #5865F2;
  background: #E7E9FD;
  color: #5865F2;
  padding: 2px 3px 2px 3px; 
}
.dc-img-box {
  border-color: #f2f4f4;
  color: #595959;
  background: #F6F6F6;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 3px 3px 10px 3px;
  margin-top:-10px;
}
.dc-green-line-50 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 50%, #F6F6F6 50%);
  border-image-slice: 1;
}
.dc-green-line-20 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 20%, #F6F6F6 70%);
  border-image-slice: 1;
}
.dc-green-line-85 {
  border-bottom: 3px solid transparent;
  padding-left: 5px;
  padding: 3px;
  border-image: linear-gradient(to right, #78bf9f 85%, #F6F6F6 15%);
  border-image-slice: 1;
}

.dc-name-blue{
  color:blue;
  font-weight:bold;
}
.dc-name-pink{
  color:pink;
  font-weight:bold;
}
.dc-name-purple{
  color:purple;
  font-weight:bold;
}
.dc-name-forest{
  color:#228b22;
  font-weight:bold;
}
.dc-name-default{
  color:#060607;
  font-weight:bold;
}
