<div class=ch-header>
  <span class=ch-title>History</span>
  <image class=ch-search-icon src=https://github.com/jihnari/QAB/raw/main/img/ch-search.png></image>

  <p class=ch-sub-header>Clear browsing data...</p>
</div>


<p class=ch-date>
  Today - Sept _x_, 20X4
</p>

<!-- fadeout gimmick -->
<div class="fadeout">
<div class="ch-table">

<!-- history element -->
<div class=ch-row>
<div class=ch-dot-cell><span class=ch-dot></span></div>
<div class=ch-site-cell>
  <span class=ch-page-name>

  </span>
  <span class=ch-page-link>

  </span>
</div>
<div class=ch-x-cell>
<image class=ch-x src="https://github.com/jihnari/QAB/raw/main/img/ch-x.png"/>
</div>
</div>


</div>
</div>
