<!-- i think this is the fixed (for ao3) version but shrug. still need to test it. -->

<div class=ch-header>
  <span class=ch-title>History</span>
  <image class=ch-search-icon src=https://github.com/jihnari/QAB/raw/main/img/ch-search.png></image>

  <p class=ch-sub-header>Clear browsing data...</p>
</div>


<p class=ch-date>
  Today - Sept _x_, 20X4
</p>

<!-- fadeout gimmick -->
<div class="fadeout">
<table class="ch-table">

<!-- history element -->
<tr class=ch-row>
<th class=ch-dot-cell><span class=ch-dot></span></th>
<th class=ch-site-cell>
  <span class=ch-page-name>

  </span>
  <span class=ch-page-link>

  </span>
</th>
<th class=ch-x-cell>
<image class=ch-x src="https://github.com/jihnari/QAB/raw/main/img/ch-x.png"/>
</th>
</tr>


</table>
</div>
