<link rel="stylesheet" href="C:\Users\kell3\github\QAB\css\qab2.css">


<!-- dc:_channel_:_date_ -->
[Q.A.B. "official" Discord server, Q.A.B.D.]

<p>&nbsp;</p><p>&nbsp;</p>

<div class="dc-font">

<!-- top bar; remember @ or # -->
<p><img class="dc-hamberger" src="https://github.com/jihnari/QAB/raw/main/img/dc-hamburger.jpg"> <span class="dc-header"><span class="text-color-gray">#</span> _channel_name_</span></p>
<p class="dc-border-top"></p>
<p class="dc-new-msg-bar">50+ new message since Sep 14, 20X4 <img class="dc-blue-x" src="https://github.com/jihnari/QAB/raw/main/img/dc-blue-x.jpg" /></p>


<!-- comment --> <!-- first element has to be shifted up -->  <!--okay maybe DONT shift the first element up?? did i change something and forget-->
<!-- change name color and **remember your br's** -->
<p class=sshift-up><span class="dc-name-default">_name_ </span> <span class="dc-time-stamp">Today at _time_</span><br />
_content_
</p>

<!-- bot comment -->
<p><span class="dc-name-default">UnitCorrector <span class=dc_bot>✔ BOT</span></span> <span class="dc-time-stamp">Today at _time_</span><br />
I think "user" meant to say: <span class="dc_code">1 INCH </span>
</p>


<!-- comment -->
<!-- change name color and **remember your br's** -->
<p><span class="dc-name-default">_name_ </span> <span class="dc-time-stamp">Today at _time_</span><br />
_content_
</p>

<!-- date-line -->
<p class="dc-middle-line-gray"><span class="middle-box">Aug ##, 20X4</span></p>

<!-- comment w emote -->
<!-- change name color and **remember your br's** -->
  <p><span class="dc-name-default">_name_</span> <span class="dc-time-stamp">Today at _time_</span><br />
_content_
<br/><span class="dc-emotebox">_e_n_</span>
</p>

<!-- just emote -->
<p><span class="dc-name-pink">_name_ </span> <span class="dc-time-stamp">Today at _time_</span><br/><span class="dc-just-emote">_emote_</span></p>


</div>

<!-- new messages -->
<!-- unsure about div placement -->
<p class="dc-middle-line-red"><span class="middle-box text-color-red">NEW MESSAGES </span></p>

<!-- reply comment -->
<p class="clear2 dc-reply-wrapper"><span class="dc-reply-square"></span> <span class="dc-reply-text"><b>_re_name_</b> _og_comment_ </span></p>
<p><span class="dc-name-default">_name_</span> <span class="dc-time-stamp">Today at _time_</span><br />
_content_
</p>

<!-- embedded youtube thing -->
<p><span class="dc-name-default">Shuttai </span> <span class="dc-time-stamp">Today at 12:40</span><br />
    <span class=dc-link-blue>youtu.be/xxxxx</span>
</p>
<p class=dc-yt-box>
    <span class=dc-yt-text>YouTube </span> <br/>
  <strong>_youtuber_ </strong><br/>
  <span class=dc-link-blue><strong>_video_name_ </strong></span>
  <image class=dc-yt-img src="https://cdn.discordapp.com/attachments/263895206124978176/936118605064581180/Screenshot_20220126-204051_Sketchbook.jpg"/>
</p>


</div>
