<!-- gmail:_:_date_ -->
[Gmail application on the phone belonging to _name_.]
<p>&nbsp;</p><p>&nbsp;</p>

<div class=gmail-font>
<p><img src="https://github.com/jihnari/QAB/raw/main/img/gmail-topbar.jpg" width=100%/></p>
<p class="gmail-subject-buffer"><span class="gmail-subject">_subject_&nbsp;</span> <span class="gmail-tag"> &nbsp;Inbox&nbsp; </span></p>
<p class=gmail-up-arrow-gimmick><span class="gmail-dot"></span>
<span class="gmail-sender">_sender_</span><span class="gmail-send-time">_Yesterday_</span> <br/>
<span class=gmail-reciever> to _rec_ &nbsp;</span> <i class="gmail-up-arrow"></i>
</p>

<div class="gmail-info-box">
<table>
<tr>
  <td class=gmail-info-left>From</td>
  <td>_sender_ <span class=gmail-weak-text>&bull; _email_</span></td>
</tr>
<tr>
  <td class=gmail-info-left>To</td>
  <td>_rec_ <span class=gmail-weak-text>&bull; _email_</span></td>
</tr>
<tr>
  <td class=gmail-info-left>Date</td>
  <td>_August_6_, 20X4, _11:31_PM_</td>
</tr>
<tr>
  <td class=gmail-info-left>&nbsp;</td>
  <td>Standard encryption (TLS).</td>
</tr>
<tr>
  <td class=gmail-info-left>&nbsp;</td>
  <td><span class="gmail-link">View security details</span></td>
</tr>
</table>
</div>
<br/>
_body_
<br/><br/>
<span class="gmail-tail">_tail_ </span>

<p class="gmail-hr">&nbsp;</p>

<p class=gmail-down-arrow-gimmick><span class="gmail-dot"></span>
<span class="gmail-sender">_sender_</span><span class="gmail-send-time">_8:34_AM_</span> <br/>
<span class=gmail-reciever> to _rec_ &nbsp;</span><i class="gmail-down-arrow"></i>
</p>
  <div class="hidden-gmail-info-box">
<table>
<tr>
  <td class=gmail-info-left>From</td>
  <td>_sender_ <span class=gmail-weak-text>&bull; _email_</span></td>
</tr>
<tr>
  <td class=gmail-info-left>To</td>
  <td>_rec_ <span class=gmail-weak-text>&bull; _email_</span></td>
</tr>
<tr>
  <td class=gmail-info-left>Date</td>
  <td>_August_6_, 20X4, _11:31_PM_</td>
</tr>
<tr>
  <td class=gmail-info-left>&nbsp;</td>
  <td>Standard encryption (TLS).</td>
</tr>
<tr>
  <td class=gmail-info-left>&nbsp;</td>
  <td><span class="gmail-link">View security details</span></td>
</tr>
</table>
</div>
_body_
<p>&nbsp;</p>
<span class="gmail-quoted-text">Show quoted text</span>

<p class="gmail-hr">&nbsp;</p>

</div>
