<!--
8/7/23 i HATE this i dont know what i was thinking (actually i do its called "working it out as i go but i dont know what div or p are") but anyway important note: each comment section should be wrapped in a p and if its not the bottom section, the p should have class div2. good luck with this trash template.
-->


<!-- remember to delete all ur newlines and pray :) -->
<!-- you no longer have to delete the newlines ig -->


<!-- reddit:_subreddit_:_date_ -->
<div class="rd-font">

<!-- intro -->
<p class="rd-name">r/_subreddit_</p>
<p class="rd-small padding-left-20"><strong>_op_</strong> <span class="rd-gray-text">· 5h ago </span></p>
<p class="rd-header">_title_</p>
  <p>
  _content_
  </p>
<p class ="rd-div1">
  <span class="rd-bubble"><img class="rd-arrow-up" src="https://github.com/jihnari/QAB/raw/main/img/rd-arrow.jpg"> <span class="rd-arrow-text">_likes_</span> <img class="rd-arrow-down" src="https://github.com/jihnari/QAB/raw/main/img/rd-arrow.jpg"></img></span> <span class="rd-bubble"> <img class="rd-arrow-up" src="https://github.com/jihnari/QAB/raw/main/img/rd-comment.jpg"></img><span class="rd-arrow-text"> _commments_</span></span>
  </p>
  <p class="rd-sortby"><strong>_#_ Comments</strong> sorted by <strong>Best</strong><span class="rd-down-arrow"></span> </p>
<p class=rd-signup-box>Login or sign up to leave a comment</p>

<!-- comment -->
<p class="rd-vr rd-div2"> <span class=rd-small><strong>_user_ </strong><span class="rd-gray-text"> _1h_</span></span><span class="rd-elispes">...</span> <br/>
_content_
<br/><img class="rd-vote" src="https://github.com/jihnari/QAB/raw/main/img/rd-vote-reply.jpg"></img>
</p>

<!-- comment w/ reply -->
<p class ="rd-div2">
<span class=rd-small><strong> _user_ </strong><span class="rd-gray-text"> _3h_ </span></span> <br/>
_content_
<br/>
  <img class="rd-vote" src="https://github.com/jihnari/QAB/raw/main/img/rd-vote-reply.jpg"></img>
<span class="rd-vr1"> <span class="rd-small"><span class="rd-op">_op_</span><span class="rd-gray-text"> _3h_ </span></span>
<br/>
_content_
<br/><img class="rd-vote" src="https://github.com/jihnari/QAB/raw/main/img/rd-vote-reply.jpg">

  <span class="rd-vr1"> <span class="rd-small"><strong>_user3_</strong><span class="rd-gray-text"> 2h_ </span></span> <br/>
_content_
<br/><img class="rd-vote" src="https://github.com/jihnari/QAB/raw/main/img/rd-vote-reply.jpg"></img></span>
<span class=rd-small><b>1 more reply</b></span>
</span>
</p>

<!-- outro -->
<p class="rd-view-box">VIEW ALL _#_ COMMENTS</p>
</div>

<p>&nbsp;</p><p>&nbsp;</p>
<hr/>
