<link rel="stylesheet" href="C:\Users\kell3\github\QAB\css\qab2.css">

<!-- 
  NOTICE: 
  that

  <p class="tw-border-bottom">&nbsp;</p>

  needs to be there. DONT DELETE IT. YOU WERE A FOOL. JUST LEAVE IT ALONE. 
-->


<!-- tw search/trending:qcon:_date_ -->
<!-- top bar -->
<table class="tw-search-container">
<td class="tw-back-icon2"></td>
<td class="tw-search-box">qcon</td>
<td class="tw-other-icon"></td>
</table>

<!-- tabs bar -->
<p class="tw-tabs tw-border-bottom">
  <span class="tw-tab-name">
    Top
  </span><span class="tw-tab-name tw-tab-name-focus">
    Latest
  </span><span class="tw-tab-name">
    People
  </span><span class="tw-tab-name">
    Photos
  </span><span class="tw-tab-name">
    Videos
  </span>
</p>

<!-- if is trending: -->
<p class=tw-is-trending>#qcon</p>


<!-- single tweet -->
<!-- tweeter info -->
<p><span class="tw-big-dot"></span></p>
<p><span class="tw-usernames-w-dot"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span><span class="tw-time"> &bull; 10m </span>
<span class="tw-down-arrow"></span>
</p>
<!-- tweet content-->
<p class="stay-block shift-up">
_content_
</p>

<!-- <p class="tw-small-icon-buffer"><table class="tw-small-icon-table"> -->
<p><table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table></p>

<p class="tw-border-bottom">&nbsp;</p>





<span class="tw-verified">