<link rel="stylesheet" href="C:\Users\kell3\github\QAB\css\qab2.css">


<!-- tw search/trending:qcon:_date_ -->

<!-- top bar -->
<div class=tw-search-container><div class="tw-back-icon2"></div><div class="tw-search-box"><div class="tw-search-text">qcon</div></div><div class="tw-other-icon"></div></div>

<!-- this doesnt HAVE to be a table but shouldnt it be? or you could do the percentage thing again but i cant remember where we used that last  -->
<p class=tw-tabs>
  <span class="tw-tab-name tw-tab-name-focus">
    Top
  </span><span class="tw-tab-name">
    Latest
  </span><span class="tw-tab-name">
    People
  </span><span class="tw-tab-name">
    Photos
  </span><span class="tw-tab-name">
    Videos
  </span>
</p>
<!-- you DO actually need this clear  -->
<p class="clear"></p><p class="tw-border-bottom"></p>

<!-- if is trending: -->
<p class=tw-is-trending>#qcon</p>


<!-- single tweet -->
<!-- tweeter info -->
<p><span class="tw-big-dot"></span></p>
<p><b>_name_ </b> <span class="tw-text-gray"> @_handle_ &bull; 10m </span>
<span class="tw-down-arrow"></span>
</p>
<!-- tweet content-->
<p class="stay-block shift-up">
_content_
<br/><br/><br/>
<img class="tw-img" src=_x_></img>
</p>

<p class="tw-small-icon-buffer"><table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table></p>
<p class="tw-border-bottom"></p>
