<link rel="stylesheet" type="text/css" href="..\css\qab2.css">


<!-- twt:_who_:_date_ -->
<!-- top bar -->
<!-- <p class="tw-thread-header"><span class="tw-back-icon"></span></p> -->
<p class="tw-tweet-header"><span class="tw-back-icon"></span></p>

<!-- tweeter info -->
<p><span class="left dot"></span><span class="tw-name">_name_</span> <br/><span class="tw-handle">@_handle_</span></p>

<!-- tweet content-->
<p class="tw-body">
_content_
<!-- <br/> -->
<!-- <img class="tw-img" src=_x_></img> -->
</p>
<!-- qrt  -->
<!-- <p class="tw-qrt">
  <span class="tw-tiny-dot"></span><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span> <span class="tw-time"> · #/#/20X4</span> <br/>
  <span class="tw-qrt-body">_qrt_content_ </span>
</p> -->

<p class="tw-footer">_time_ · # _aug_ · <span class="tw-link">Twitter for Android</span></p>
<p class="tw-retweets-bar">
<b>_x_</b> Retweets and comments <span class="padding-left-20"><b>_x_</b> Likes<span>
</p>
<img src="https://github.com/jihnari/QAB/raw/main/img/tw-topbar.jpg" width=100% height=40px class="tw-border-bottom shift-up"/>


<!-- OP comment -->
<p><span class="left dot"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class="tw-time"> · _1h_ </span><br />
    _content_
    <br/></span></p>

  <p class="tw-small-icon-buffer"></p>
    <table class="tw-small-icon-table">
  <tr>
    <th class="tw-small-icon-cell-reply-buffer"></th>
    <th class="tw-small-icon-cell-bubble"> </th>
    <th class="tw-small-icon-cell-retweet"> </th>
    <th class="tw-small-icon-cell-heart"> </th>
    <th class="tw-small-icon-cell-link"> </th>
  </tr>
  </table>

<p class="tw-border-bottom-thick"></p>


<!-- *****FIX THIS (switch span to p and add a shift up 5, ao3 does not respect this any more) (also gotta update the usernames stuff)-->
<!-- i think this is fixed maybe? -->

<!-- normal comment -->
<p><span class="left dot"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class=tw-time> · _date_</span> <br />
<span class="tw-text-gray">Replying to</span> <span class="tw-link">@_handle_</span><br/>
    _content_
  </span></p>

  <p class="tw-small-icon-buffer"></p>
<table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table>

<p class="tw-border-bottom"></p>



<!-- comment w/ 1 reply -->
<div class="tw-line-vertical">

<p><span class="tw-dot-thread"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class="tw-time"> · _1h_ </span><br />
<span class="tw-text-gray">Replying to </span><span class="tw-link">@_handle_</span><br/>
  _content_

</span></p>

<p class="tw-small-icon-buffer"></p>
<table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table>

<p><span class="tw-dot-thread"></span><span class="stay-block">
<span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class="tw-time"> · _1h_ </span><br />
  _content_
</span></p>
<p class="tw-small-icon-buffer"><table 
  class="tw-small-icon-table"></p>
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table>

</div>

<p class="tw-border-bottom"></p>



<!-- outdated?  -->
<!-- comment w/ 1 reply -->
<div class="tw-line-vertical2">

<p><span class="tw-dot-thread"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class="tw-time"> · _1h_ </span><br />
<span class="tw-text-gray">Replying to</span><span class="tw-link"> @_handle_</span><br/>
  _content_
<br/><br/>
</span></p>

<p><span class="tw-dot-thread"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span></span> <span class="tw-time"> · _1h_ </span><br />
  _content_</span></p>


  <p class="tw-link padding-left-20 ">Show replies</p>

</div>



<!-- verified  -->
<p><span class="tw-dot-thread"></span><span class="stay-block">
  <span class="tw-usernames"><span class="tw-name">Present Mic</span> <i class=tw-verified-icon></i> <span class="tw-handle">@PresentMic</span></span> <span class="tw-time"> · 14h </span><br />



<!-- unviewable comment -->
<p class="tw-unviewable">You're unable to view this Tweet because this account owner limits who can view their Tweets. <span class="tw-link">Learn more</span></p>

<p class="tw-border-bottom"></p>

<!-- deleted comment --> 
<!-- in a thread -->
<p class="tw-unviewable">This Tweet is no longer available because it violated the Twitter Rules. <span class="tw-link">Learn more</span></p>

<p class="tw-border-bottom"></p>

<p class="tw-unviewable tw-thread-indent">This Tweet is no longer available because it violated the Twitter Rules. <span class="tw-link">Learn more</span></p>

<p class="tw-border-bottom"></p>