<link rel="stylesheet" href="C:\Users\kell3\github\QAB\css\qab2.css">


<!-- top bar -->
<p class="tw-thread-header"><span class="tw-back-icon"></span></p>

<p class="tw-tweet-header"><span class="tw-back-icon"></span></p>


<!-- twt:_who_:_date_ -->
<!-- if smth breaks, add some clears -->

<!-- top bar -->
<p><span class="tw-back-icon"></span><span class="text-size-12">Tweet<span></p><p class="clear"></p><p class="tw-border-bottom"></p>

<!-- tweeter info -->
<p>
  <span class="left dot"></span>
  <span class="tw-name">_name_ </p><br />
<span class="tw-handle"> @_handle_ </span></p>

<!-- tweet content-->
<p class="tw-body">
_content_
<br/>
<img class="tw-img" src=_x_></img>
</p>

<p class="tw-footer">_time_ · # _aug_ · <span class="tw-link">Twitter for Android</span></p>
<p class="tw-retweets-bar">
<b>_x_</b> Retweets and comments <span class="padding-left-20"><b>_x_</b> Likes<span>
</p>
<img src="https://github.com/jihnari/QAB/raw/main/img/tw-topbar.jpg" width=100% height=40px class="tw-border-bottom shift-up"/>


<!-- normal comment -->
<p><span class="left dot"></span><span class="stay-block"><span class="tw-usernames"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_ </span></span> <span class="tw-time"> · _1h_ </span><br />
    _content_
    <br/></span></p>
  <p class="tw-small-icon-buffer"><table class="tw-small-icon-table">
  <tr>
    <th class="tw-small-icon-cell-reply-buffer"></th>
    <th class="tw-small-icon-cell-bubble"> </th>
    <th class="tw-small-icon-cell-retweet"> </th>
    <th class="tw-small-icon-cell-heart"> </th>
    <th class="tw-small-icon-cell-link"> </th>
  </tr>
  </table></p>


<p class="tw-border-bottom-thick"></p>


<!-- *****FIX THIS (switch span to p and add a shift up 5, ao3 does not respect this any more) (also gotta update the usernames stuff)-->

<!-- normal comment -->
<p class="clear"></p>
<p><span class="left dot"></span><span class="stay-block"><span class="tw-name">_name_</span> <span class="tw-handle">@_handle_</span><span class=tw-time> · _date_</span> <br />
<span class="tw-text-gray">Replying to</span><span class="tw-link"> @_handle_</span><br/>
    _content_
<br/><span class="twt-comment-buttons2"></span>
  </span></p>

<p class="tw-border-bottom"></p>

<!-- comment w/ 1 reply -->
<div class="tw-line-vertical">

<p class="clear"></p><p><span class="tw-dot-thread"></span><span class="stay-block"><b>_name_ </b> <span class="tw-text-gray">@_handle_ · _date<br />
Replying to</span><span class="tw-link"> @_handle_</span><br/>
  _content_

</span></p>

<p class="tw-small-icon-buffer"><table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table></p>

<p class="clear"></p><p><span class="tw-dot-thread"></span><span class="stay-block">
<b>_name_ </b> <span class="tw-text-gray">@_handle_ · _date_</span><br />
  _content_
</span></p>
<p class="tw-small-icon-buffer"><table class="tw-small-icon-table">
<tr>
  <th class="tw-small-icon-cell-reply-buffer"></th>
  <th class="tw-small-icon-cell-bubble"> </th>
  <th class="tw-small-icon-cell-retweet"> </th>
  <th class="tw-small-icon-cell-heart"> </th>
  <th class="tw-small-icon-cell-link"> </th>
</tr>
</table></p>

</div>


<!-- comment w/ 1 reply -->
<div class="tw-line-vertical2">

<p class="clear"></p><p><span class="tw-dot-thread"></span><span class="stay-block"><b>_name_ </b> <span class="tw-text-gray">@_handle_ · _date<br />
Replying to</span><span class="tw-link"> @_handle_</span><br/>
  _content_
<br/><br/>
</span></p>

<p class="clear"></p><p><span class="tw-dot-thread"></span><span class="stay-block">
<b>_name_ </b> <span class="tw-text-gray">@_handle_ · _date_</span><br />
  _content_</span></p>

</div>
